llama-index
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-embeddings-langchain
llama-index-vector-stores-chroma
llama-parse
chromadb
langchain
streamlit
graphviz
pypdf
mypy-extensions
